.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    position: absolute;
    margin-top: -400px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}